<div class="row">
  <h2 class="expe"><span>Experiencia Laboral</span></h2>
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-lg-7 mt-4">
        <p class="parrafo"> El ejercicio de mi profesión la realicé en forma privada trabajando en el "Estudio Jurídico Abogados Asociados" de La Rioja-capital, dedicándome especialmente a divorcios, trámites Anses, jubilaciones, pensiones, daños y perjuicios, sucesiones y Laboral.</p>
      </div>
      <div class="col-12 col-lg-5">
        <img src="../../../assets/img/imagen justicia.png"  alt="balanza de la justicia" class="imagen_justicia img-fluid">
      </div>
    </div>
  </div>
<div class="experiencia">
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Agregar Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

